body {
    /* BACKGROUND */
    background-color: rgb(240, 255, 255);

    /* MARGIN */
    position: relative;
    margin-left: 10%;

    margin-right: 10%;
}

/* SignUp */

#signUp
{
    position: relative;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 150px;
    margin-left: 80px;
}

h1 {
  color: gray;
}

/* Toprating.html */


#topRatingMovies
{
    background-color: gray;
}

div.loginLinkMainPage
{
    text-align: right;
}

div.profile
{
    text-align: right;
}
