<!DOCTYPE html> 
<html> 
	<head> 
		<title>My Favourite Movies</title>
	</head> 
	
	<body>

		<p th:text="${nickname}" ></p>

		<p th:text="${users.name}" ></p>
	
		<p th:each="myMovie : ${myMovies.myMovies}" 
			th:text="${myMovie.original_title} + '-' + ${myMovie.overview} + '  -   ' + ${myMovie.vote_average} +
			'  -   ' + ${myMovie.vote_count} + '  -   ' + ${myMovie.popularity} "></p>

		<form action="/logout" method="get" >
			<input type="submit" value="LogOut" > </input>
		</form>

		<form th:object="${user}" action="/addmovie" method="get">
			<input type="submit" value="Add movie" > </input>
		</form>
	
	</body> 
</html>