<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
	<head> 
		<title> Movies </title>
		<link rel="stylesheet" type="text/css" media="all"
			  th:href="@{/style/style.css}" />
	</head> 
	
	<body>
		<script>

			if ( localStorage.getItem("userName") != null )
			{
				alert( "Hi " + localStorage.getItem("userName") + "!" );
			}

		</script>

		<p th:text="${users.name}" ></p>
	
		<p th:each="myMovie : ${myMovies.myMovies}" 
			th:text="${myMovie.title} + '-' + ${myMovie.overview} + '  -   ' + ${myMovie.vote_average} +
			'  -   ' + ${myMovie.vote_count} + '  -   ' + ${myMovie.popularity} "></p>

		<p th:each="hitsMovie: ${hits}"
			th:text="${hitsMovie.title} + ' - ' + ${hitsMovie.overview}" ></p>


		<!-- SEARCH MOVIE -->
		<form >
			<label> Enter the title of the movie: </label>  <input id="movieTitleField" type="text" name="movieTitle" onchange="searchMovieTitle()" > </input>
			<input type="submit" value="Search" > </input>
		</form>

		<!-- CHANGE NICKNAME -->
		<form >
			<label> Nickname: </label> <input id="nickNameField" type="text" name="userName" > </input>
			<input type="submit" value="Change" onclick="changeNickname()"> </input>
		</form>

		<!-- LOGOUT -->
		<form action="/logout" method="get" >
			<input type="submit" value="LogOut" > </input>
		</form>

		<!-- ADDMOVIE -->
		<form th:object="${user}" action="/addmovie" method="get">
			<input type="submit" value="Add movie" > </input>
		</form>


		<script>

		var movieTitleFieldGet = document.getElementById("movieTitleField");
        movieTitleFieldGet.value = sessionStorage.getItem("movieTitleFieldGet");

		function changeNickname()
		{
			var nickNameField = document.getElementById("nickNameField");
            localStorage.setItem("userName", nickNameField.value);
		}

		function searchMovieTitle()
		{
			var movieTitleField = document.getElementById("movieTitleField");
            sessionStorage.setItem("movieTitle", movieTitleField.value);
		}

		</script>


	
	</body> 
</html>