<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Login</title>
        <link rel="stylesheet" type="text/css" media="all"
              th:href="@{/style/style.css}" />
    </head>

    <body>

        <form id="signUp" action="/signup" method="post">
            <label> Full Name: </label> <input type="text" name="name" >  </input>
            <p></p>
            <label> E-mail adress: </label> <input type="email" name="email" > </input>
            <p></p>
            <label> Password: </label> <input type="password" id="pwdField" name="pwd" oninput="pwdLength()"> </input>
            <input type="submit" value="Signup" > </input>
        </form>

        <p th:text="${message}" ></p>

        <script>

        function pwdLength()
        {
        var pwdFieldGet = document.getElementById("pwdField");
        var strLength = pwdFieldGet.value.length;
            if ( strLength < 8 )
            {
                pwdFieldGet.style.color = 'red';
            }
            else
            {
                pwdFieldGet.style.color = 'black';
            }

        }

    </script>

    </body>
</html>