<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Login</title>
        <link rel="stylesheet" type="text/css" media="all"
              th:href="@{/style/welcome.css}" />
    </head>

    <body>

    <h1> Login </h1>

        <form action="/" method="post" name="login" >

            <label> E-mail adress: </label> <input type="email" name="email" > </input>
            <p></p>
            <label>Password: </label> <input type="password" name="pwd" > </input>
            <input type="submit" value="Login" > </input>
        </form>
    <p th:text="${message}" ></p>

    <br />
    <br />
    <br />

    <p>-------------------------------------------------    </p>
    <h1> Or SingUp </h1>

        <form action="/signup" method="post">
            <label> Full Name: </label> <input type="text" name="name" > </input>
            <p></p>
            <label> Nickname: </label> <input id="nickNameField" type="text" name="userName" oninput="myFunction()" > </input>
            <p></p>
            <label> E-mail adress: </label> <input type="email" name="email" > </input>
            <p></p>
            <label> Password: </label> <input type="password" name="pwd" > </input>
            <input type="submit" value="Signup" > </input>
        </form>

            <script> type="text/javascript"

            function myFunction()

        </script>

    </body>
</html>